<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>アフィリエイトとは</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1660556059" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<link rel="icon" href="https://cdn.peraichi.com/userData/5d170d9f-4710-497c-bced-71e50a00002b/img/5f031f97b2c2b/original.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/5d170d9f-4710-497c-bced-71e50a00002b/ogp/468369.png">
<meta property="og:url" content="https://peraichi.com/landing_pages/view/icwwt"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1660556059"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1660556059"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1660560436"></script>
<link rel="canonical" href="https://peraichi.com/landing_pages/view/icwwt/" /></head>
  <body class="theme-base theme-blank" data-template-name="blank" style="overflow: auto; padding-top: 0px;"><?php

declare(strict_types=1);

?>
<div id="js-advertisingHeader" class="p-advertisingHeader">
    <p class="p-advertisingHeader__catchcopy">
        <strong>フォーム</strong> <strong>予約</strong> <strong>決済</strong> <strong>メルマガ</strong>など集客機能が<strong>オールインワン</strong>!
    </p>
    <p class="p-advertisingHeader__inner">
        <a href="https://peraichi.com/" title="ペライチトップページへ" class="p-advertisingHeader__logo" target="_blank">
            <img src="/images/logo.svg" class="" alt="ペライチ" width="100">
        </a>
        <span class="p-advertisingHeader__text u-hide--sp-sm">
            なら誰でも簡単にホームページが始められます。
        </span>
        <a href="https://peraichi.com/" class="p-advertisingHeader__link p-advertisingHeader__link--pc u-hide--sp-sm" target="_blank">
            今すぐ試してみる
        </a>
        <a href="https://peraichi.com/" class="p-advertisingHeader__link p-advertisingHeader__link--sp u-hide u-inline-block--sp-sm" target="_blank">
            簡単にホームページ作成
        </a>
    </p>
</div>


        <div class="pera1-section block" data-structure="b-main-set-2--center" data-block-name="メイン(中央寄せ+ボタン)" id="section-2">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;//cdn.peraichi.com/template_files/library/landscape_jpg/4mta-DkJUAg/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="0">
    <div class="grid-wrapper">
      <div class="row middle-xs center-xs p-main">
        <div class="col-sm-6 col-xs-12">
          <div class="c-inner c-inner--lg c-inner--vertical">
            <div class="c-heading c-heading--lg u-mblg u-color-white pera1-removable">
              <h2 data-structure="e-heading" class="pera1-editable"><strong>アフィリエイトとは</strong></h2>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>一般的なアフィリエイトの仕組み</strong></h2>
        </div>
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/5d170d9f-4710-497c-bced-71e50a00002b/img/5d17139cd76ce/original.jpg" alt="" data-structure="e-img">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-accent" data-block-name="見出し(アクセント)" id="section-9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper">
      <div class="p-heading__inner">
        <div class="c-heading c-heading--bdr-btm p-heading-accent">
          <h2 data-structure="e-heading" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;"><strong><span data-custom-pc-fontsize="32px">アフィリエイターの平均月収</span></strong></div></h2>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-full-left" data-block-name="左フル画像" id="section-11">
  <div class="p-article-img-full grid-wrapper grid-wrapper--full">
    <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
      <div class="row row-item-gutter--none middle-xs center-xs">
        <div class="col-xs-12 col-sm pera1-removable">
          <div class="c-img c-img--full"><img class="pera1-editable" src="//cdn.peraichi.com/userData/5d170d9f-4710-497c-bced-71e50a00002b/img/5dd76eebcc980/original.jpg" alt="" data-structure="e-img">
          </div>
        </div>
        <div class="col-xs-12 col-sm start-xs u-mtmd pera1-removable">
          <div class="p-article-img-full__contents p-article-img-full-left__contents">
            <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
              <h2 data-structure="e-heading" data-custom-pc-fontsize="22px" class="pera1-editable">アフィリエイターの<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;"><strong>74.3</strong><strong>%</strong></span>が<strong>平均月収<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;">1000円未満</span></strong></h2>
            </div>
            <div class="u-mbmd pera1-removable">
              <div data-structure="e-text" class="pera1-editable">引用元：<br>日本アフィリエイト協議会（アフィリエイト市場調査）</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-heading-ribbon" data-block-name="リボン" id="section-8">
  <div class="c-bg-img c-bg-img--cover p-heading-ribbon__bg pera1-bg-editable" data-bg-key="4">
    <div class="p-heading-ribbon__wrapper c-wrapper u-align-center">
      <div class="p-heading__inner">
        <div class="c-heading p-heading-ribbon">
          <div class="p-heading-ribbon__body">
            <h2 data-structure="e-heading" class="pera1-editable"><span data-custom-pc-fontsize="32px"><strong>プラカフェで行うアフィリエイト</strong></span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-list-has-img" data-block-name="左画像+リスト" id="section-10">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="grid-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="row row-item-gutter--lg center-xs">
          <div class="col-xs-12 col-sm-5 basis-auto-sm u-mbmd pera1-removable">
            <div class="c-img c-img--responsive"><img class="pera1-editable" src="//cdn.peraichi.com/userData/5d170d9f-4710-497c-bced-71e50a00002b/img/5d1718fd849eb/original.jpg" alt="" data-structure="e-img">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 start-xs pera1-removable">
            
            <div class="c-list-v c-list-v--bdr c-list-v--bdr-dashed pera1-removable">
              <ul data-structure="m-list">
                
                <li class="pera1-removable pera1-multiple" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable"><span data-custom-pc-fontsize="22px">誰かに紹介するのがおっくう...<br><strong><br>→<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;">人に紹介しなくても良い！</span></strong></span></div>
                  </div>
                </li><li class="pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable"><span style="color: rgb(0, 0, 0);" data-mce-style="color: #000000;"><span data-custom-pc-fontsize="22px">毎日ブログを更新しないといけない...</span><strong><span data-custom-pc-fontsize="22px"><br><br>→<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;">ブログ不用！<br>　スマホ</span></span></strong></span><span data-custom-pc-fontsize="22px">さえあれば</span><strong><span data-custom-pc-fontsize="22px">、</span></strong><span style="color: rgb(0, 0, 0);" data-mce-style="color: #000000;"><strong><span data-custom-pc-fontsize="22px"><span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;">誰でも簡単</span></span></strong></span><span data-custom-pc-fontsize="22px">に出来る！</span></div>
                  </div>
                </li><li class="pera1-removable" data-structure="e-list-item" data-elem-name="list-item">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable"><p><span data-custom-pc-fontsize="22px">結果が出るまでに時間がかかる...<br><br></span></p><span data-custom-pc-fontsize="22px">→<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;"><strong>10分</strong></span>で<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;"><strong>1～2万円</strong></span>作れてしまう！<br>　およそ<strong>３年</strong>で<strong><span style="color: #e8412e;" data-mce-style="color: #e8412e;">85万円</span></strong>稼いだ会員さんも！</span></div>
                  </div>
                </li><li class="pera1-removable pera1-ghost pera1-add" data-structure="e-list-item" data-elem-name="list-item" style="opacity: 0; height: 50px;">
                  <div class="u-clearfix">
                    <div class="u-float-left u-mrsm c-img c-img--responsive pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/default/ic_check.svg" alt="" width="25" data-structure="e-img">
                    </div>
                    <div class="u-overflow-hidden pera1-editable"><span data-custom-pc-fontsize="22px">誰かに紹介するのがおっくう...<br><strong><br>→<span style="color: rgb(232, 65, 46);" data-mce-style="color: #e8412e;">人に紹介しなくても良い！</span></strong></span></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">PURA CAFE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  




































































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script>
<div id="footer-created" class="">
    <div class="p-footerCreated">
        <p class="p-footerCreated__catchcopy">
            <strong>フォーム</strong> <strong>予約</strong> <strong>決済</strong> <strong>メルマガ</strong>など集客機能が<strong>オールインワン</strong>!
        </p>
        <p class="p-footerCreated__inner">
            <a href="https://peraichi.com/" title="ペライチトップページへ" class="p-footerCreated__logo" target="_blank">
                <img src="/images/logo.svg" class="" alt="ペライチ" width="100">
            </a>
            <span class="p-footerCreated__text u-hide--sp-sm">
                なら誰でも簡単にホームページが始められます。
            </span>
            <a href="https://peraichi.com/" class="p-footerCreated__link p-footerCreated__link--pc u-hide--sp-sm" target="_blank">
                今すぐ試してみる
            </a>
            <a href="https://peraichi.com/" class="p-footerCreated__link p-footerCreated__link--sp u-hide u-inline-block--sp-sm" target="_blank">
                簡単にホームページ作成
            </a>
        </p>
    </div>
    <p class="violation-report">
        <a href="https://peraichi.com/landing_pages/view/fuseiriyou" target="_blank">規約違反ページを通報する</a>
    </p>
</div>

<script>(function (){
	/**
	 * ペライチクレジットを必要に応じて表示する
	 * @param {Element} target 表示対象DOM
	 */
	function showPeraichiCreditIfNeed(target) {
        var bottomPoint = document.body.clientHeight - window.innerHeight;
		var scrolled = Math.ceil(document.documentElement.scrollTop || document.body.scrollTop);
		var needShowPeraichiCredit = scrolled > 2 * window.innerHeight;
		target.className = (needShowPeraichiCredit && bottomPoint > scrolled)  ? 'show' : '';
	}

	window.onscroll = showPeraichiCreditIfNeed.bind(null, document.getElementById('footer-created'));
})();
</script></body></html>
